<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                        <!--<a href="/cadastro" class="btn btn-primary">-->
                            Nova Foto
                        </a>
                    </span>
                    <input #textoProcurado (keyup)="0" class="form-control" placeholder="filtrar pelo titulo da foto">
                </div>
            </form>
        </div>
        <!-- fim col-md-12 -->
    </div>
    <!-- fim row -->
    <br>
    <div class="row">
        <painel *ngFor="let foto of fotos | FiltroPorTitulo:textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
            <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </painel>
    </div>
</div>